.counter-app {
    display: flex;
    justify-content: center;
    margin-top: 30rem; 
    margin-right: 0.5rem
}

.button > button{

  margin-left: 1rem;

}

.button > h1{

    margin-left: 5.5rem;
  
  }

  .logged{
    margin-top: 5rem;
    margin-left: 5rem;

  }